<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Euphrates" />
    <meta property='og:image' content="<%= image_url('metadata_logo.png') %>"/>
    <meta property="og:description"
      content="Euphrates is a pixel perfect clone of the Amazon website. In it you can browse through categories of products or search for a specific item, create your own account and add them to your cart. You can also rate and review each product and calculate the total price of your purchase before you execute the transaction."
    />
    <meta property="og:url"
      content="http://euphrates2022.herokuapp.com/"
    />
    <link rel="stylesheet" href="reset.css">
    <%= favicon_link_tag asset_path("favicon.ico") %>
    <title>Euphrates</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" >
      window.cart =  "<%= image_url('cart.png') %>"
      window.logo =  "<%= image_url('logo.png') %>"
      window.logo_white =  "<%= image_url('logo_white.png') %>"
      window.logo_blue =  "<%= image_url('logo_blue.png') %>"
      window.empty_cart =  "<%= image_url('empty_cart.png') %>"
      window.empty_search =  "<%= image_url('empty_search.png') %>"
      
      window.electronics =  "<%= image_url('electronics.jpg') %>"
      window.smart_home =  "<%= image_url('smart_home.jpg') %>"
      window.home_garden_tools =  "<%= image_url('home_garden_tools.jpg') %>"
      window.toys_kids_baby =  "<%= image_url('toys_kids_baby.jpg') %>"
      window.outdoors =  "<%= image_url('outdoors.jpg') %>"
      window.beauty_health =  "<%= image_url('beauty_health.jpg') %>"
      window.food_groceries =  "<%= image_url('food_groceries.jpg') %>"
      window.pet_supplies =  "<%= image_url('pet_supplies.jpg') %>"
      
      window.left =  "<%= image_url('left.png') %>"
      window.right =  "<%= image_url('right.png') %>"
      
      window.panel1 =  "<%= image_url('panel1.jpg') %>"
      window.panel2 =  "<%= image_url('panel2.jpg') %>"
      window.panel3 =  "<%= image_url('panel3.jpg') %>"
      window.panel4 =  "<%= image_url('panel4.jpg') %>"

      window.profile_picture = "<%= image_url('profile_picture.png') %>"
      window.error_page = "<%= image_url('404.png') %>"
    </script>
  </head>

  <body id="everything">
    <%= yield %>
  </body>
</html>
